<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시판 목록 화면</title>
</head>
<body>
  <h1><%= sample1%>님을 위한 게시판 목록입니다.</h1>
  <table>
    <tr>
      <th>#</th>
      <th>제목</th>
      <th>작성자</th>
      <th>작성일시</th>
      <th>조회수</th>
    </tr>
    <% for(let i=0; i<articles.length; i+=1) { %>
      <tr>
        <td><%= articles.length-i %></td>
        <td><%= articles[i].subject %></td>
        <td><%= articles[i].writer ></td>
        <td><%= articles[i].writtenAt %></td>
        <td><%= articles[i].hitcount %></td>
      </tr>
    <% } %>
    <% if(articles.length===0){ %>
      <tr><td>게시물이 없습니다.</td></tr>
    <% } %>
    </table>
    <a href="write.html">글쓰기</a>
</body>
</html>